/* Write your CSS code here */
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-img {
  margin-top: 200px;
  height: 150px;
  width: 150px;
}
